.report {
  overflow: hidden;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__content {
    width: 67.5%;
  }

  &__aside {
    width: calc(32% - 28px);

    .aside {
      &::after {
        bottom: -306px;
      }
    }
  }

  .participants {
    display: flex;
    flex-direction: column;
    .table {
      &__head {
        th {
          &:first-child {
            width: 48%;
          }
        }
      }
    }

    &__btn {
      align-self: center;
      max-width: 470px;
    }
  }
}

@media (max-width: 768px) {
  .report {
    &__container {
      margin-bottom: 4px;
    }

    &__content {
      width: 100%;
    }

    .participants {
      margin-bottom: 0;

      &__title {
        margin-bottom: 21px;
      }

      .table {
        margin-bottom: 5px;
        border-spacing: 4px;

        &__head {
          th {
            &:first-child {
              width: 51%;
            }
          }
        }

        &__body {
          tr {
            td {
              padding-top: 10px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }

    &__aside {
      padding-top: 60px;
      width: 100%;

      .aside {
        margin-bottom: 15px;

        &::after {
          bottom: -151px;
          left: -119px;
        }
      }
    }

    .archive {
      &__title {
        margin-bottom: 33px;
      }
    }
  }
}
