.index {
  .events {
    &__container {
      display: flex;
      flex-direction: column;
    }

    &__title {
      margin-bottom: 32px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px 20px;
      margin-bottom: 25px;
    }

    &-card {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      padding-right: 10%;
      padding-bottom: 26px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 109px;
        z-index: -1;
        background-color: $color_grey;
      }

      &__name {
        margin-bottom: 13px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }

      &__img {
        position: relative;
        margin-bottom: 10px;
        height: 182px;
        background-image: url("@images/events_card-bg.png");
        background-repeat: no-repeat;
        background-position: 1px 0;
      }

      &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &:hover {
          background-color: rgba($color: $color_white, $alpha: 0.3);
          opacity: 1;
        }
      }

      &__date {
        align-self: flex-end;
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }

      &__title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-grow: 2;
        margin: 0;
        margin-bottom: 15px;
        max-width: 87%;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
      }

      &__actions {
        align-self: flex-end;
        margin-top: auto;
        padding-left: 10px;
        width: calc(100% - 109px);
        max-width: 143px;

        span {
          display: inline-block;
          margin-bottom: 9px;
          height: 29px;
          width: calc(50% - 2px);
          border: 1px solid $color_grey-blue-light;
          border-radius: 4px;
          font-size: 12px;
          font-weight: 500;
          line-height: 29px;
          text-align: center;
          text-transform: uppercase;
          color: $color_grey-blue;
        }
      }

      &__btn {
        width: 100%;
        border-color: $color_red;
        color: $color_red;
        text-transform: none;
        background-color: transparent;

        &:hover {
          border-color: $color_red-light;
          color: $color_red-light;
          background-color: transparent;
        }
      }
    }

    &__btn {
      align-self: center;
      width: 100%;
      max-width: 303px;
      text-transform: none;
    }
  }

  @media (max-width: 930px) {
    .events-card {
      padding-right: 5%;
    }
  }

  @media (max-width: 768px) {
    .events {
      padding-top: 15px;

      &__title {
        margin-bottom: 18px;
      }

      &__list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px 15px;
        margin-bottom: 27px;
      }

      &-card {
        padding-right: 9%;
        padding-bottom: 10px;

        &::before {
          left: 20%;
        }

        &__name {
          margin-bottom: 14px;
        }

        &__img {
          margin-bottom: 16px;
          height: 126px;
          width: 100%;
          background-size: cover;
          background-position: center;
        }

        &__date {
          align-self: flex-start;
          margin-bottom: 15px;
        }

        &__title {
          margin-bottom: 12px;
        }

        &__actions {
          padding: 0;
          width: 100%;
        }
      }
    }
  }
}
