@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
	url("../fonts/Raleway-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-Medium.woff2") format("woff2"),
	url("../fonts/Raleway-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2"),
	url("../fonts/Raleway-MediumItalic.woff") format("woff");
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-Regular.woff2") format("woff2"),
	url("../fonts/Raleway-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: Raleway;
	font-display: swap;
	src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"),
	url("../fonts/Raleway-SemiBold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
}
