.archive {
  .container {
    padding-top: 6px;

    .archive {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 60px;
      }

      &__list {
        margin-bottom: 0;
      }

      &__btn {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .archive {
    .container {
      padding-top: 61px;
      padding-bottom: 5px;

      .archive {
        &__title {
          margin-bottom: 25px;
        }
      }
    }
  }
}
