.conference {
  .about {
    margin-bottom: 55px;

    &__title {
      margin-bottom: 33px;
    }

    &__text {
      margin-bottom: 30px;
      padding-right: 6px;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;

      // &:first-of-type {
      //   font-size: 18px;
      //   font-weight: 600;
      // }
    }

    figure {
      margin: 0;
    }

    &__list {
      &-title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
      }

      &-item {
        position: relative;
        padding-top: 6px;
        padding-right: 30px;
        padding-bottom: 7px;
        padding-left: 20px;
        font-size: 14px;
        font-weight: 600;
        line-height: 130%;

        &::before {
          content: ".";
          position: absolute;
          top: 5%;
          left: 9px;
          font-size: 24px;
        }

        &:nth-child(odd) {
          margin-bottom: 4px;
          background-color: $color_grey-blue-dark;
        }

        &:nth-child(even) {
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .conference {
    .about {
      margin-bottom: 13px;
      padding-top: 18px;

      &__title {
        margin-bottom: 20px;
        min-height: 70px;
      }

      &__text {
        margin: 0;
        padding-right: 0;
        line-height: 128%;
        margin-bottom: 28px;
      }

      &__list {
        margin-left: -18px;
        margin-right: -18px;

        &-title {
          margin-bottom: 18px;
        }

        &-item {
          padding-top: 7px;
          padding-left: 40px;
          padding-right: 30px;
        }
      }
    }
  }
}
