.aside {
  position: relative;

  figure {
    margin: 0;
  }

  .speakers {
    padding-left: 10px;

    &__title {
      margin-bottom: 26px;
      font-size: 20px;
      font-weight: 700;
    }

    &__list {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 18px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -15px;
        bottom: 0;
        z-index: -1;
        width: 200%;
        background-color: $color_grey;
      }
    }

    &__item {
      margin-bottom: 24px;
      width: calc(50% - 8px);
    }

    .speakers-card {
      &__img {
        margin-bottom: 13px;
      }

      &__title {
        margin: 0;
        margin-bottom: 12px;
        padding-left: 11px;
        border-left: 4px solid $color_red;
        font-size: 16px;
        font-weight: 700;
      }

      &__description {
        margin: 0;
        width: 97%;
        font-size: 10px;
        font-weight: 700;
      }
    }
  }

  .partners {
    margin-bottom: 60px;
    padding-top: 60px;
    padding-left: 6px;

    &__title {
      margin-bottom: 14px;
      font-size: 30px;
      font-weight: 700;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 11px 0;
      width: 100%;
      background-color: $color_white;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .official {
    margin-bottom: 60px;
    padding-left: 6px;

    &__title {
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 700;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px 0;
      width: 100%;
      background-color: $color_white;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .participants {
    margin-bottom: 64px;
    padding-left: 6px;

    &__title {
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 700;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 11px 0;
      width: 100%;
      background-color: $color_white;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .contacts {
    position: relative;
    padding-top: 20px;
    padding-bottom: 19px;
    padding-left: 21px;
    color: $color_white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 7px;
      z-index: -1;
      width: 200%;
      background-color: $color_grey-blue;
    }

    &::after {
      content: url("@images/decor_dots-30.png");
      position: absolute;
      bottom: -115px;
      left: 9px;
    }

    &__title {
      position: relative;
      margin: 0;
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 700;

      &::after {
        content: url("@images/decor_contacts.png");
        position: absolute;
        top: -73px;
        right: -131px;
      }
    }

    &__description {
      margin: 0;
      margin-bottom: 7px;
      padding-right: 5px;
      font-size: 14px;
      font-weight: 600;
      line-height: 143%;
    }

    &__link {
      font-size: 24px;
      font-weight: 700;
      line-height: 143%;
      text-decoration: underline;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: -84px;
    bottom: -33px;
    z-index: -2;
    height: 380px;
    width: 200%;
    background-image: url("@images/decor-pikasso-2.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media (max-width: 768px) {
  .aside {
    order: 3;
    margin-bottom: 60px;
    padding-bottom: 152px;

    .contacts {
      &__title {
        &::after {
          content: none;
        }
      }
    }

    .speakers {
      padding: 0;

      &__title {
        position: relative;
        margin-bottom: 9px;
        padding-left: 15px;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -24px;
          height: 100%;
          width: 20px;
          background-color: $color-red;
        }
      }

      &__list {
        padding: 19px;

        &::before {
          content: none;
        }
      }
    }

    .partners {
      padding-top: 0;

      &__title {
        position: relative;
        margin-bottom: 25px;
        padding-left: 10px;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -24px;
          height: 100%;
          width: 20px;
          background-color: $color-red;
        }
      }
    }

    .participants {
      margin-bottom: 60px;
    }

    .contacts {
      padding-left: 15px;
      padding-bottom: 21px;

      &::before {
        left: 0;
      }

      &__description {
        padding-right: 15px;
      }
    }
  }
}
