.burger {
  position: relative;
  height: 100%;
  width: 100%;
  border: 2px solid $color_red;
  border-radius: 3px;

  &__line,
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    height: 2px;
    background-color: $color_red;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }

  &__line {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    top: 10px;
  }

  &::after {
    bottom: 10px;
  }

  &.active {
    .burger {
      &__line {
        display: none;
      }
    }

    &::before,
    &::after {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
