.checkbox {
  position: relative;

  &__real {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:focus-visible + .checkbox__custom {
      outline: 2px solid $color_red;
    }

    &:checked + .checkbox__custom {
      &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        height: 7px;
        width: 10px;
        border-top: 3px solid red;
        border-right: 3px solid red;
        transform: rotate(135deg);
      }
    }

    &:disabled + .checkbox__custom {
      &::before {
        border-color: grey;
      }
    }
  }

  &__custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    background-color: $color_white;
  }

  &__content {
    padding-left: 22px;
  }
}
