.footer {
  margin-top: auto;
  overflow: hidden;

  &__container {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
  }

  &__content {
    position: relative;
    display: flex;
    padding-top: 20px;
    padding-right: 6px;
    padding-bottom: 23px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -275px;
      left: -38px;
      bottom: 0;
      z-index: -1;
      background-color: $color_grey-blue-light;
    }
  }

  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 19px;
    padding-right: 43px;
    border-right: 1px solid $color_black;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

    &::before {
      content: url("@images/decor-dots-28.svg");
      position: absolute;
      top: 29%;
      left: -508px;
    }
  }

  &__right {
    padding-top: 12px;
    padding-left: 55px;

    .socials {
      display: flex;
      margin-bottom: 23px;

      &__item {
        &:not(:last-child) {
          margin-right: 46px;
        }
      }

      &__link {
        display: inline-block;
        height: 36px;
        width: 36px;
      }
    }
  }

  &__disclaimer {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .footer {
    &__container {
      padding: 0;
    }

    &__content {
      flex-direction: column;
      align-items: center;
      padding-top: 25px;
      padding-left: 18px;
      padding-right: 18px;
      padding-bottom: 15px;
      width: 100%;

      &::before {
        right: 0;
        left: 0;
      }
    }

    &__left {
      margin-bottom: 25px;
      padding: 0;
      border: none;
      text-align: center;

      &::before {
        content: none;
      }
    }

    &__right {
      padding: 0;

      .socials {
        justify-content: space-between;
        margin-bottom: 21px;

        &__item {
          &:not(:last-child) {
            margin: 0;
          }

          a {
            height: 44px;
            width: 44px;
          }
        }
      }
    }

    &__disclaimer {
      text-align: center;
    }
  }
}
