.participants {
  margin-bottom: 60px;

  &__title {
    margin-bottom: 30px;
  }

  .table {
    margin-bottom: 25px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    table-layout: fixed;
    border-spacing: 3px;

    &__head {
      background-color: $color_grey-blue-dark;

      th {
        padding: 10px 13px;
        font-weight: 500;
        text-align: left;

        &:first-child {
          width: 43%;
        }
      }
    }

    &__body {
      tr {
        background-color: $color_grey;

        &:nth-child(even) {
          background-color: $color_grey-blue-dark;
        }

        td {
          padding: 11px 13px;
        }
      }
    }
  }

  &__btn {
    position: relative;
    padding-right: 28px;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    text-transform: none;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: calc(50% - 128px);
      width: 10px;
      height: 10px;
      border-top: 1px solid $color_black;
      border-right: 1px solid $color_black;
      transform: translateY(-70%) rotate(135deg);
    }
  }
}

@media (max-width: 768px) {
  .participants {
    &__title {
      margin-bottom: 19px;
      padding-left: 15px;

      &::before {
        left: -19px;
        width: 15px;
      }
    }

    .table {
      margin-bottom: 3px;

      &__head {
        th {
          &:first-child {
            width: 51%;
          }

          &:last-child {
            padding-left: 18px;
          }
        }
      }

      &__body {
        td {
          &:last-child {
            padding-left: 18px;
            padding-right: 5px;
          }
        }
      }
    }

    &__btn {
      &::after {
      }
    }
  }
}
